:host{
    .top{
        background-color:#66ceff;
        height:22vh;
        position: relative;
        img{
            width:70px;
            height:70px;
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%)
        }
    }
    .bottom{
        background-color:#fff;
        min-height: 78vh;
        a{
            display:block;
            color:#585858;
            padding:15px;
            border-bottom:1px solid #f3f3f3;
            transition:all 0.25s ease-in-out;
            &:hover{
                text-decoration: none;
                background-color:#EEE;
                color:#333;
            }
            &:focus{text-decoration:none}
        }
    }
}